* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Mali', cursive;
}

.wrapper .main__buttons {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .main__buttons .main__button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: none;
  background-color: #a7a7a7;
  color: black;
  text-transform: uppercase;
}

.wrapper .main__buttons .main__button--active {
  background-color: #3d2b1f;
  color: white;
}

.wrapper .background-image {
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100% - 54px);
  z-index: -1;
}

.wrapper .background-image__photo {
  height: 100%;
  width: 100%;
}

.main__add {
  display: none;
  margin-top: 10px;
  text-align: center;
}

.main__add__title {
  font-size: 30px;
}

.main__add__describe {
  font-size: 15px;
}

.main__add__form {
  width: 90%;
  height: 150px;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__form .add__form__item {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  margin: 1px;
  background-color: #3d2b1f;
  color: white;
}

.main__add__form .add__form__item .form__item__title {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 16px;
  font-weight: normal;
}

.main__add__form .add__form__item--category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__add__form .add__form__item--category .form__item__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__add__form .add__form__item--category .form__item__wrapper .item__wrapper__button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: 0.2px solid black;
  font-family: 'Mali', cursive;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  background-color: #a7a7a7;
  color: white;
}

.main__add__form .add__form__item--category .form__item__wrapper .item__wrapper__button--active {
  background-color: #6b6b6b;
}

.main__add__form .add__form__item--date {
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__add__form .add__form__item--date .form__item__date {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  margin: 8px 4px 8px 0px;
  padding: 5px;
  border: none;
}

.main__add__form .add__form__item--task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 6px 5px;
}

.main__add__form .add__form__item--task .form__item__task {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  margin-right: 5px;
  padding: 5px;
  border: none;
}

.main__add__form .add__form__item--task .form__item__task::-webkit-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task:-ms-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task::-ms-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task::placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task--button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  color: black;
  background-color: yellow;
  border-radius: 25%;
  font-size: 30px;
  cursor: pointer;
}

.main__add--active {
  display: block;
}

.main__search {
  display: none;
}

.main__search--active {
  display: block;
}

.main__active-tasks {
  display: none;
  width: 90%;
  margin: 20px auto 0px auto;
  position: relative;
  padding-top: 2px;
}

.main__active-tasks__title {
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: -8px;
}

.main__active-tasks__item {
  background-color: pink;
  border: 1px solid black;
  margin: 10px 0px;
}

.main__active-tasks__item .active-tasks__item__name, .main__active-tasks__item .active-tasks__item__category, .main__active-tasks__item .active-tasks__item__date {
  display: inline-block;
}

.main__active-tasks__item .active-tasks__item__name {
  font-size: 18px;
}

.main__active-tasks--active {
  display: block;
}

.main__finished-tasks {
  display: none;
}

.main__finished-tasks--active {
  display: block;
}
/*# sourceMappingURL=style.css.map */