* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  font-family: 'Mali', cursive;
}

.wrapper .main__buttons {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .main__buttons .main__button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: none;
  background-color: #a7a7a7;
  color: black;
  text-transform: uppercase;
}

.wrapper .main__buttons .main__button--active {
  background-color: #3d2b1f;
  color: white;
}

.wrapper .background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.wrapper .background-image__photo {
  height: 100%;
  width: 100%;
}

.main__add {
  display: none;
  margin-top: 10px;
  text-align: center;
}

.main__add__title {
  font-size: 30px;
}

.main__add__describe {
  font-size: 15px;
  color: white;
}

.main__add__form {
  width: 90%;
  height: 150px;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__form .add__form__item {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  margin: 1px;
  background-color: #3d2b1f;
  color: white;
}

.main__add__form .add__form__item .form__item__title {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 16px;
  font-weight: normal;
}

.main__add__form .add__form__item--category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__add__form .add__form__item--category .form__item__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__add__form .add__form__item--category .form__item__wrapper .item__wrapper__button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: 0.2px solid black;
  font-family: 'Mali', cursive;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  background-color: #a7a7a7;
  color: white;
}

.main__add__form .add__form__item--category .form__item__wrapper .item__wrapper__button--active {
  background-color: #6b6b6b;
}

.main__add__form .add__form__item--date {
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__add__form .add__form__item--date .form__item__date {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  margin: 8px 4px 8px 0px;
  padding: 5px;
  border: none;
}

.main__add__form .add__form__item--task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 6px 5px;
}

.main__add__form .add__form__item--task .form__item__task {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  margin-right: 5px;
  padding: 5px;
  border: none;
}

.main__add__form .add__form__item--task .form__item__task::-webkit-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task:-ms-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task::-ms-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task::placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__add__form .add__form__item--task .form__item__task--button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  color: black;
  background-color: yellow;
  border-radius: 25%;
  font-size: 30px;
  cursor: pointer;
}

.main__add--active {
  display: block;
}

.main__search {
  display: none;
  margin-top: 10px;
  text-align: center;
}

.main__search__title {
  font-size: 30px;
}

.main__search__item {
  width: 90%;
  margin: 5px auto;
  padding: 6px 5px;
  background-color: #3d2b1f;
}

.main__search__item .search__item__task {
  margin-right: 5px;
  padding: 5px;
  border: none;
  width: 100%;
}

.main__search__item .search__item__task::-webkit-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__search__item .search__item__task:-ms-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__search__item .search__item__task::-ms-input-placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__search__item .search__item__task::placeholder {
  font-family: 'Mali', cursive;
  color: black;
}

.main__search--active {
  display: block;
}

.main__active-tasks {
  display: none;
  width: 90%;
  margin: 20px auto 0px auto;
  position: relative;
  padding-top: 2px;
}

.main__active-tasks__title {
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: -8px;
}

.main__active-tasks__item {
  background-color: white;
  border: 1px solid black;
  margin: 10px 0px;
  position: relative;
  padding: 5px;
  height: 160px;
  overflow: hidden;
}

.main__active-tasks__item .active-tasks__item__name, .main__active-tasks__item .active-tasks__item__category, .main__active-tasks__item .active-tasks__item__date {
  font-size: 18px;
}

.main__active-tasks__item .active-tasks__item__name .item__name--span, .main__active-tasks__item .active-tasks__item__name .item__category--span, .main__active-tasks__item .active-tasks__item__name .item__date--span, .main__active-tasks__item .active-tasks__item__category .item__name--span, .main__active-tasks__item .active-tasks__item__category .item__category--span, .main__active-tasks__item .active-tasks__item__category .item__date--span, .main__active-tasks__item .active-tasks__item__date .item__name--span, .main__active-tasks__item .active-tasks__item__date .item__category--span, .main__active-tasks__item .active-tasks__item__date .item__date--span {
  font-size: 16px;
  font-weight: normal;
}

.main__active-tasks__item .active-tasks__item__name .item__category--span, .main__active-tasks__item .active-tasks__item__category .item__category--span, .main__active-tasks__item .active-tasks__item__date .item__category--span {
  font-size: 14px;
}

.main__active-tasks__item .active-tasks__item__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: red;
}

.main__active-tasks__item .active-tasks__item__switch {
  width: 100px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  font-size: 17px;
}

.main__active-tasks__item .active-tasks__item__switch--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid black;
  border-radius: 25px;
}

.main__active-tasks__item .active-tasks__item__switch--false, .main__active-tasks__item .active-tasks__item__switch--true {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main__active-tasks__item .active-tasks__item__switch--false {
  border-right: 1px solid black;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main__active-tasks__item .active-tasks__item__switch--true {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main__active-tasks__item .active-tasks__item__switch--active-false {
  background-color: red;
}

.main__active-tasks__item .active-tasks__item__switch--active-true {
  background-color: green;
}

.main__active-tasks--active {
  display: block;
}

.main__active-tasks--disable {
  display: none;
}

.main__finished-tasks {
  display: none;
  width: 90%;
  margin: 20px auto 0px auto;
  position: relative;
  padding-top: 2px;
}

.main__finished-tasks__title {
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: -8px;
}

.main__finished-tasks__item {
  background-color: white;
  border: 1px solid black;
  margin: 10px 0px;
  position: relative;
  padding: 5px;
  height: 160px;
}

.main__finished-tasks__item .finished-tasks__item__name, .main__finished-tasks__item .finished-tasks__item__category, .main__finished-tasks__item .finished-tasks__item__date {
  font-size: 18px;
}

.main__finished-tasks__item .finished-tasks__item__name .item__name--span, .main__finished-tasks__item .finished-tasks__item__name .item__category--span, .main__finished-tasks__item .finished-tasks__item__name .item__date--span, .main__finished-tasks__item .finished-tasks__item__category .item__name--span, .main__finished-tasks__item .finished-tasks__item__category .item__category--span, .main__finished-tasks__item .finished-tasks__item__category .item__date--span, .main__finished-tasks__item .finished-tasks__item__date .item__name--span, .main__finished-tasks__item .finished-tasks__item__date .item__category--span, .main__finished-tasks__item .finished-tasks__item__date .item__date--span {
  font-size: 16px;
  font-weight: normal;
}

.main__finished-tasks__item .finished-tasks__item__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: red;
}

.main__finished-tasks__item .finished-tasks__item__switch {
  width: 100px;
  height: 55px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  font-size: 17px;
}

.main__finished-tasks__item .finished-tasks__item__switch--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid black;
  border-radius: 25px;
}

.main__finished-tasks__item .finished-tasks__item__switch--false, .main__finished-tasks__item .finished-tasks__item__switch--true {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main__finished-tasks__item .finished-tasks__item__switch--false {
  border-right: 1px solid black;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main__finished-tasks__item .finished-tasks__item__switch--true {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main__finished-tasks__item .finished-tasks__item__switch--active-true {
  background-color: green;
}

.main__finished-tasks--active {
  display: block;
}

.main__finished-tasks--disable {
  display: none;
}

.main__searched-tasks {
  display: none;
  width: 90%;
  margin: 20px auto 0px auto;
  position: relative;
  padding-top: 2px;
}

.main__searched-tasks__title {
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: -8px;
}

.main__searched-tasks__item {
  background-color: white;
  border: 1px solid black;
  position: relative;
  padding: 5px;
  height: 120px;
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

.main__searched-tasks__item .searched-tasks__item__name, .main__searched-tasks__item .searched-tasks__item__category, .main__searched-tasks__item .searchedtasks__item__date {
  font-size: 18px;
}

.main__searched-tasks__item .searched-tasks__item__name .item__name--span, .main__searched-tasks__item .searched-tasks__item__name .item__category--span, .main__searched-tasks__item .searched-tasks__item__name .item__date--span, .main__searched-tasks__item .searched-tasks__item__category .item__name--span, .main__searched-tasks__item .searched-tasks__item__category .item__category--span, .main__searched-tasks__item .searched-tasks__item__category .item__date--span, .main__searched-tasks__item .searchedtasks__item__date .item__name--span, .main__searched-tasks__item .searchedtasks__item__date .item__category--span, .main__searched-tasks__item .searchedtasks__item__date .item__date--span {
  font-size: 16px;
  font-weight: normal;
}

.main__searched-tasks--active {
  display: block;
}

@media (min-width: 411px) {
  .main__add__form .add__form__item--category .form__item__title {
    line-height: 48px;
  }
}

@media (min-width: 568px) {
  .main__add__form .add__form__item--task .form__item__task {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

@media (min-width: 1366px) {
  .main__add__form .add__form__item--task .form__item__task {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
}
/*# sourceMappingURL=style.css.map */