*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    min-height: 100vh
    height: 100%

.wrapper
    max-width: 1200px
    min-height: 100vh
    margin: 0 auto 
    //position: relative
    
    font-family: 'Mali', cursive
    .main__buttons
        height: 50px
        display: flex
        flex-direction: row
        .main__button
            flex-basis: 50%
            border: none
            background-color: #a7a7a7
            color: black
            text-transform: uppercase
            &--active
                background-color: #3d2b1f
                color: white
    .background-image
        position: absolute
        top: 0
        left: 0
        height: 100%
        z-index: -1
        &__photo
            height: 100%
            width: 100%





@import "_main-add"
@import "_main-search"
@import "_main-active-tasks"
@import "_main-finished-tasks"
@import "_main-searched-tasks"
