*
    margin: 0
    padding: 0
    box-sizing: border-box

.wrapper
    max-width: 1500px
    min-height: 100vh
    margin: 0 auto 
    background-color: green
    padding: 20px
    text-align: center
    .main
        background-color: red
        width: 500px
        margin: 0px auto 
        &__wrapper
            background-color: blue
            width: 300px
            margin: 10px auto
            text-align: start 
        &__button
    .active-task__item
        background-color: pink
        width: 400px
        height: 80px
        margin: 10px auto
            